
@font-face {
  font-family: 'Comic Sans MS';
  src: url("comic-sans.ttf");
}

body {
  background-color: white;
  font-family: Comic Sans MS;
  font-size: 20px;
  margin: 2vh;
  text-align: center;
}

.content {
  padding: 2vh;
}

/*.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}

.grid-item {
  background-color: white;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
*/
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.card {
  padding: 1rem;
  height: 20rem;
  background-color: white;

}

.cards {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 3rem;
  background-color: white;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

.ratcard {
  padding: 1rem;
  height: 20rem;
  background-color: white;
}

.ratcards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  background-color: white;
}

.marquee-animation {
  text-align: left;
  animation: 15s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(100% - 200px));
  }
  100% {
    transform: translateX(0%);
  }
}


@media (min-width: 600px) {
  .ratcards { grid-template-columns: repeat(2, 1fr); }
}


@media screen and (orientation: portrait) {
  body {
    margin: 0;
  }
  .cards{
    padding: 0;
  }
  .content {
    padding: 0;
  }
}

